@model TestExamMaker.Models.Question

<div class="jumbotron">
    <h1>@ViewBag.Name</h1>
    <p class="lead">@ViewBag.Description</p>
    <h3><small>Exam duration: @ViewBag.Duration minutes.</small></h3>
    <p>
      <a href="@Url.Action("Question", "Home",new {   @order = 1 })" onclick="setTime()" class="btn btn-primary btn-lg">
         Start exam
    </a>
  
      @*@Html.ActionLink("Start exam", "Question", "Home", new { @class = "btn btn-primary btn-lg", @order = 1 }, null)*@
    @*<a href="https://asp.net" class="btn btn-primary btn-lg">Start exam</a>*@
  </p>
</div>

@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
      $.removeCookie('timer'); 

      function addMinutes(date, minutes) {
        return new Date(date.getTime() + minutes * 60000);
      }

      setTime = function () {
        var date = moment(new Date())
          .add(10, 'm')
          .format('MM/DD/YYYY HH:mm:ss');
 
        $.cookie("timer", date);
        var testStart = $.cookie("timer");

        $('#clock').countdown('stop');

        console.log(testStart);
      }
    });
</script>
  }
 